{% extends 'base.html '%}

{% block content%}

<div id="lr-view">

    {% if page == 'login' %}

    <div class="lr-form window">

        <div id="lrf-head" class="title-bar">
            <h3>Login</h3>
        </div>

        <div id="form-body">
            <div class="scroll">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-input">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Enter username">
                    </div>

                    <div class="form-input">
                        <label for="Password">Password</label>
                        <input type="password" name="password" id="password" placeholder="Enter Password">
                    </div>

                    <div id="lrf-options">

                        <div id="lrf-btn">
                            <input class="btn" type="submit" value="Login">
                        </div>
                        <div id="lrf-links">
                            <p>Haven't signed up yet?</p>
                            <a href="{% url 'chat:registerUser' %}">Sign Up</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% else %}

    <div class="lr-form window">

        <div id="lrf-head" class="title-bar">
            <h3>Register</h3>
        </div>

        <div id="form-body">
            <p id="htext">
                Start chatting with awesome peoples, Register Now!!
            </p>
            <div class="scroll">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-input">
                        <label for="id_{{field.label}}">{{field.label}}</label>
                        {{field}}
                        <span>{{field.help_text}}</span>
                    </div>
                    {% endfor %}

                    <div id="lrf-options">
                        <div id="lrf-btn">
                            <input class="btn" type="submit" value="Sign Up">
                        </div>
                        <div id="lrf-links">
                            <p>Already signed up?</p>
                            <a href="{% url 'chat:loginUser' %}">Login</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    {% endif %}

</div>
{% endblock content%}