<div class="t-list">

    <div class="t-item">
        <p id="btopics">BROWSE TOPICS</p>
    </div>

    <div class="t-item">
        <a href="{%url 'chat:homeView' %}">
            All
            <span>{{topics|length}}</span>
        </a>
    </div>

    {% for topic in topics %}

    <div class="t-item">
        <a href="{%url 'chat:homeView' %}?q={{topic.name}}">
            {{topic.name}}
            <span>{{topic.roommodel_set.all|length}}</span>
        </a>
    </div>

    {% endfor %}

    <div class="more-topics">
        <a class="btn-link" href="{% url 'chat:topicsView' %}">
            More
            <svg class="svg-lm" version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>chevron-down</title>
                <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
            </svg>
        </a>
    </div>

</div>