{% extends 'base.html' %}

{% block content %}
<div id="home-container">
    <div id="topics-sidebar">
        {% include 'chat/topics_component.html' %}
    </div>

    <div id="feed-area">
        <div id="user-profile">

            <div id="up-info">

                <div class="avatar avatar-vlg">
                    <img src="{{user.avatar.url}}">
                </div>

                <h3 style="text-transform:capitalize">{{user.name}}</h3>
                <p>@{{user.username}}</p>
                {% if user == request.user %}
                <a href="{% url 'chat:editUserProfile' %}">
                    <div id="edit-btn">
                        Edit Profile
                    </div>
                </a>
                {% endif %}
            </div>
            <div id="up-about">
                <h3>About</h3>
                <p>{{user.about}}</p>
            </div>
        </div>
        <div class="feed-item roomlist">
            {% if rooms %}
            <h3>Room Hosted by @{{user.username}}</h3>
            {% include 'chat/room-list_component.html' %}
            {% else %}
            <h3>@{{user.username}} has not hosted any rooms yet.</h3>
            {% endif %}
        </div>
    </div>

    <div id="activity-sidebar" class="window">
        {% if msgs %}
        {% include 'chat/activity_component.html' %}
        {% endif %}
    </div>
</div>



{% endblock content %}